{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock title%}

{% block content %}

<div class="mt-5">

    <fieldset>
        <legend>Reset Password</legend>
        <form action="" method="POST">
            {{ form.hidden_tag() }} <!--Add a CSRF token and uses the secret key api.congig[SECRET_KEY]-->

            <div class="mb-3">
                <label class="form-label">{{ form.password.label}}</label>

                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}

            </div>
            <div class="mb-3">
                <label class="form-label">{{ form.confirm_password.label}}</label>

                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control") }}
                {% endif %}

            </div>
            
            

            <button type="submit" class="btn btn-primary">Reset My Password</button>

           
        </form>
</div>

</fieldset>


{% endblock content%}